apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    app: nginx
  ports:
    - name: nginx
      protocol: TCP
      port: 8081
      targetPort: 80
    - name: multitool
      protocol: TCP
      port: 8082
      targetPort: 80